<form method="post" action="{{ path('app_exercice_cp_simulation_offre_delete', {'id': simulation_offre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ simulation_offre.id) }}">
    <button class="btn">Delete</button>
</form>
