{% extends 'base.html.twig' %}

{% block title %}Edit SimulationOffre{% endblock %}

{% block body %}
    <h1>Edit SimulationOffre</h1>

    {{ include('exercice_cp/simulation_offre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_exercice_cp_simulation_offre_index') }}">back to list</a>

    {{ include('exercice_cp/simulation_offre/_delete_form.html.twig') }}
{% endblock %}
