{% extends 'base.html.twig' %}

{% block title %}SimulationOffre index{% endblock %}

{% block body %}
    <h1>SimulationOffre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumOffre</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for simulation_offre in simulation_offres %}
            <tr>
                <td>{{ simulation_offre.id }}</td>
                <td>{{ simulation_offre.numOffre }}</td>
                <td>{{ simulation_offre.createdAt ? simulation_offre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ simulation_offre.updatedAt ? simulation_offre.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_exercice_cp_simulation_offre_show', {'id': simulation_offre.id}) }}">show</a>
                    <a href="{{ path('app_exercice_cp_simulation_offre_edit', {'id': simulation_offre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_simulation_offre_new') }}">Create new</a>
{% endblock %}
