{% extends 'base.html.twig' %}

{% block title %}New SimulationOffre{% endblock %}

{% block body %}
    <h1>Create new SimulationOffre</h1>

    {{ include('exercice_cp/simulation_offre/_form.html.twig') }}

    <a href="{{ path('app_exercice_cp_simulation_offre_index') }}">back to list</a>
{% endblock %}
