{% extends 'base.html.twig' %}

{% block title %}SimulationOffre{% endblock %}

{% block body %}
    <h1>SimulationOffre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ simulation_offre.id }}</td>
            </tr>
            <tr>
                <th>NumOffre</th>
                <td>{{ simulation_offre.numOffre }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ simulation_offre.createdAt ? simulation_offre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ simulation_offre.updatedAt ? simulation_offre.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_simulation_offre_index') }}">back to list</a>

    <a href="{{ path('app_exercice_cp_simulation_offre_edit', {'id': simulation_offre.id}) }}">edit</a>

    {{ include('exercice_cp/simulation_offre/_delete_form.html.twig') }}
{% endblock %}
