<form method="post" action="{{ path('app_exercice_cp_utilisateur_genre_delete', {'id': genre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
    <button class="btn">Delete</button>
</form>
