{% extends 'base.html.twig' %}

{% block title %}Edit Genre{% endblock %}

{% block body %}
    <h1>Edit Genre</h1>

    {{ include('exercice_cp/utilisateur/genre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_exercice_cp_utilisateur_genre_index') }}">back to list</a>

    {{ include('exercice_cp/utilisateur/genre/_delete_form.html.twig') }}
{% endblock %}
