{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
    <h1>Create new Genre</h1>

    {{ include('exercice_cp/utilisateur/genre/_form.html.twig') }}

    <a href="{{ path('app_exercice_cp_utilisateur_genre_index') }}">back to list</a>
{% endblock %}
