{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}
    <h1>Genre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_utilisateur_genre_index') }}">back to list</a>

    <a href="{{ path('app_exercice_cp_utilisateur_genre_edit', {'id': genre.id}) }}">edit</a>

    {{ include('exercice_cp/utilisateur/genre/_delete_form.html.twig') }}
{% endblock %}
