{% extends 'base.html.twig' %}

{% block title %}Ajouter un acteur{% endblock %}

{% block body %}
    <div class="card">
        <h5 class="card-header">Ajouter un acteur local dans le répertoire.</h5>
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    {{ form_widget(form.acteur.raisonSocial) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.acteur.juridique) }}
                </div>
                <div class="col-2">
                    {{ form_widget(form.acteur.etat) }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{ form_widget(form.Adresse.libelle) }}
                </div>
                <div class="col-3">
                    {{ form_widget(form.Adresse.adresse) }}
                </div>
                <div class="col-1">
                    {{ form_widget(form.Adresse.codePostal) }}
                </div>
                <div class="col-2">
                    {{ form_widget(form.Adresse.ville) }}
                </div>
                <div class="col-3">
                    {{ form_widget(form.Adresse.complement) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 m-3">
                    <h6>Catégories de la structure</h6>
                    {{ form_widget(form.acteur.categories) }}
                </div>
            </div>

<hr>
            {% for type in ['membres', 'coordonnees', 'identification'] %}
               <h6>Les {{ type }}</h6>
                <div class="row my-form-wrapper-{{ type }}" data-prototype="{{ form_widget(attribute(form, type).vars.prototype)|e('html_attr') }}" data-index="{{ attribute(form, type)|length }}">

                    {% for item in attribute(form, type) %}
                        <div class="col-3 collection-widget-{{ type }}">
                            {{ form_row(item) }}
                            <button class="remove-collection-widget-{{ type }} btn btn-danger">Supprimer</button>
                        </div>
                    {% endfor %}

                    <button class="add-another-collection-widget-{{ type }} btn btn-outline-primary w-25 float-end">Ajouter {{ type }}</button>
                    <hr>
                </div>
            {% endfor %}
            {{ form_widget(form.acteur) }}
        </div>
        <div class="card-footer">
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
        {{ form_end(form) }}
    </div>




{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var collectionTypes = ['membres', 'coordonnees', 'identification'];

            collectionTypes.forEach(function(type) {
                var wrapper = document.querySelector('.my-form-wrapper-' + type);
                var addButton = wrapper.querySelector('.add-another-collection-widget-' + type);

                addButton.addEventListener('click', function(e) {
                    e.preventDefault();

                    var prototype = wrapper.dataset.prototype;
                    var index = wrapper.dataset.index;
                    var newForm = prototype.replace(/__name__/g, index);
                    wrapper.dataset.index = parseInt(index) + 1;

                    var newFormDiv = document.createElement('div');
                    newFormDiv.classList.add('collection-widget-' + type, 'col-3', 'mt-3');
                    newFormDiv.innerHTML = newForm;

                    var removeButton = document.createElement('button');
                    removeButton.classList.add('remove-collection-widget-' + type, 'btn', 'btn-danger', 'mt-3');
                    removeButton.textContent = 'Supprimer';

                    newFormDiv.appendChild(removeButton);
                    addButton.before(newFormDiv);
                });

                wrapper.addEventListener('click', function(e) {
                    if (e.target.classList.contains('remove-collection-widget-' + type)) {
                        e.preventDefault();

                        var collectionWidget = e.target.closest('.collection-widget-' + type);
                        collectionWidget.remove();
                    }
                });
            });

        });
        $(document).ready(function() {
            $('.textaera').summernote();
        });
    </script>

{% endblock %}

