<form method="post" action="{{ path('app_exercice_cp_collectivite_delete', {'id': collectivite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collectivite.id) }}">
    <button class="btn">Delete</button>
</form>
