{% extends 'base.html.twig' %}

{% block title %}Edit Collectivite{% endblock %}

{% block body %}
    <h1>Edit Collectivite</h1>

    {{ include('exercice_cp/collectivite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_exercice_cp_collectivite_index') }}">back to list</a>

    {{ include('exercice_cp/collectivite/_delete_form.html.twig') }}
{% endblock %}
