{% extends 'base.html.twig' %}

{% block title %}Collectivite index{% endblock %}

{% block body %}
    <h1>Collectivite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Siret</th>
                <th>Cpt</th>
                <th>PreAtt</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collectivite in collectivites %}
            <tr>
                <td>{{ collectivite.id }}</td>
                <td>{{ collectivite.libelle }}</td>
                <td>{{ collectivite.siret }}</td>
                <td>{{ collectivite.cpt }}</td>
                <td>{{ collectivite.preAtt }}</td>
                <td>{{ collectivite.adresse }}</td>
                <td>{{ collectivite.codePostal }}</td>
                <td>{{ collectivite.ville }}</td>
                <td>
                    <a href="{{ path('app_exercice_cp_financement', {'collectivite': collectivite.id}) }}">Nouvelle Simulation</a>
                    <a href="{{ path('app_exercice_cp_collectivite_show', {'id': collectivite.id}) }}">Voir les Offres</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_collectivite_new') }}">Create new</a>
{% endblock %}
