{% extends 'base.html.twig' %}

{% block title %}New Collectivite{% endblock %}

{% block body %}
    <h1>Create new Collectivite</h1>

    {{ include('exercice_cp/collectivite/_form.html.twig') }}

    <a href="{{ path('app_exercice_cp_collectivite_index') }}">back to list</a>
{% endblock %}
