{% extends 'base.html.twig' %}

{% block title %}Collectivite{% endblock %}

{% block body %}
    <h1>Collectivite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collectivite.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ collectivite.libelle }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ collectivite.siret }}</td>
            </tr>
            <tr>
                <th>Cpt</th>
                <td>{{ collectivite.cpt }}</td>
            </tr>
            <tr>
                <th>PreAtt</th>
                <td>{{ collectivite.preAtt }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ collectivite.adresse }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ collectivite.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ collectivite.ville }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        {% for offre in  collectivite.simulationOffres %}
            <div class="col-3">
                <div class="card">
                    <h5 class="card-header"><a href="{{ path('app_exercice_cp_financement_offre', { 'simulationOffre' : offre.id }) }}">{{ offre.numOffre }}</a></h5>
                    <div class="card-body">
                        <div class="list-group">
                            {% for simulation in offre.simulations %}

                            <a href="{{ path('app_exercice_cp_financement_simulation', { 'simulation': simulation.id}) }}" class="list-group-item list-group-item-action">{{ simulation.type~'  | '~simulation.objet|truncate(30) }}</a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('app_exercice_cp_collectivite_index') }}">back to list</a>

    <a href="{{ path('app_exercice_cp_collectivite_edit', {'id': collectivite.id}) }}">edit</a>

    {{ include('exercice_cp/collectivite/_delete_form.html.twig') }}
{% endblock %}
