{% extends 'base.html.twig' %}

{% block title %}Edit Acteur{% endblock %}

{% block body %}
    <h1>Edit Acteur</h1>

    {{ include('repertoire/acteur/acteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_repertoire_acteur_acteur_index') }}">back to list</a>

    {{ include('repertoire/acteur/acteur/_delete_form.html.twig') }}
{% endblock %}
