{% extends 'base.html.twig' %}

{% block title %}Acteur index{% endblock %}

{% block body %}
    <h1>Acteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RaisonSocial</th>
                <th>Etat</th>
                <th>Presentation</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acteur in acteurs %}
            <tr>
                <td>{{ acteur.id }}</td>
                <td>{{ acteur.raisonSocial }}</td>
                <td>{{ acteur.etat }}</td>
                <td>{{ acteur.presentation }}</td>
                <td>{{ acteur.createdAt ? acteur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ acteur.updatedAt ? acteur.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_repertoire_acteur_acteur_show', {'id': acteur.id}) }}">show</a>
                    <a href="{{ path('app_repertoire_acteur_acteur_edit', {'id': acteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_acteur_new') }}">Create new</a>
{% endblock %}
