{% extends 'base.html.twig' %}

{% block title %}New Acteur{% endblock %}

{% block body %}
    <h1>Create new Acteur</h1>

    {{ include('repertoire/acteur/acteur/_form.html.twig') }}

    <a href="{{ path('app_repertoire_acteur_acteur_index') }}">back to list</a>
{% endblock %}
