{% extends 'base.html.twig' %}

{% block title %}Acteur{% endblock %}

{% block body %}
    <h1>Acteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acteur.id }}</td>
            </tr>
            <tr>
                <th>RaisonSocial</th>
                <td>{{ acteur.raisonSocial }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ acteur.etat }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ acteur.presentation }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ acteur.createdAt ? acteur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ acteur.updatedAt ? acteur.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_acteur_index') }}">back to list</a>

    <a href="{{ path('app_repertoire_acteur_acteur_edit', {'id': acteur.id}) }}">edit</a>

    {{ include('repertoire/acteur/acteur/_delete_form.html.twig') }}
{% endblock %}
