<form method="post" action="{{ path('app_exercice_cp_simulation_duree_delete', {'id': simulation_duree.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ simulation_duree.id) }}">
    <button class="btn">Delete</button>
</form>
