{% extends 'base.html.twig' %}

{% block title %}Edit SimulationDuree{% endblock %}

{% block body %}
    <h1>Edit SimulationDuree</h1>

    {{ include('exercice_cp/simulation_duree/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_exercice_cp_simulation_duree_index') }}">back to list</a>

    {{ include('exercice_cp/simulation_duree/_delete_form.html.twig') }}
{% endblock %}
