{% extends 'base.html.twig' %}

{% block title %}SimulationDuree index{% endblock %}

{% block body %}
    <h1>SimulationDuree index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Duree</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for simulation_duree in simulation_durees %}
            <tr>
                <td>{{ simulation_duree.id }}</td>
                <td>{{ simulation_duree.duree }}</td>
                <td>{{ simulation_duree.type }}</td>
                <td>
                    <a href="{{ path('app_exercice_cp_simulation_duree_show', {'id': simulation_duree.id}) }}">show</a>
                    <a href="{{ path('app_exercice_cp_simulation_duree_edit', {'id': simulation_duree.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_simulation_duree_new') }}">Create new</a>
{% endblock %}
