{% extends 'base.html.twig' %}

{% block title %}New SimulationDuree{% endblock %}

{% block body %}
    <h1>Create new SimulationDuree</h1>

    {{ include('exercice_cp/simulation_duree/_form.html.twig') }}

    <a href="{{ path('app_exercice_cp_simulation_duree_index') }}">back to list</a>
{% endblock %}
