{% extends 'base.html.twig' %}

{% block title %}SimulationDuree{% endblock %}

{% block body %}
    <h1>SimulationDuree</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ simulation_duree.id }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ simulation_duree.duree }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ simulation_duree.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_simulation_duree_index') }}">back to list</a>

    <a href="{{ path('app_exercice_cp_simulation_duree_edit', {'id': simulation_duree.id}) }}">edit</a>

    {{ include('exercice_cp/simulation_duree/_delete_form.html.twig') }}
{% endblock %}
