{% extends 'base.html.twig' %}

{% block title %}Edit ActeurAdresse{% endblock %}

{% block body %}
    <h1>Edit ActeurAdresse</h1>

    {{ include('repertoire/acteur/acteur_adresse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_repertoire_acteur_acteur_adresse_index') }}">back to list</a>

    {{ include('repertoire/acteur/acteur_adresse/_delete_form.html.twig') }}
{% endblock %}
