{% extends 'base.html.twig' %}

{% block title %}ActeurAdresse index{% endblock %}

{% block body %}
    <h1>ActeurAdresse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>Complement</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acteur_adresse in acteur_adresses %}
            <tr>
                <td>{{ acteur_adresse.id }}</td>
                <td>{{ acteur_adresse.libelle }}</td>
                <td>{{ acteur_adresse.adresse }}</td>
                <td>{{ acteur_adresse.codePostal }}</td>
                <td>{{ acteur_adresse.ville }}</td>
                <td>{{ acteur_adresse.complement }}</td>
                <td>{{ acteur_adresse.createdAt ? acteur_adresse.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ acteur_adresse.updatedAt ? acteur_adresse.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_repertoire_acteur_acteur_adresse_show', {'id': acteur_adresse.id}) }}">show</a>
                    <a href="{{ path('app_repertoire_acteur_acteur_adresse_edit', {'id': acteur_adresse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_acteur_adresse_new') }}">Create new</a>
{% endblock %}
