{% extends 'base.html.twig' %}

{% block title %}New ActeurAdresse{% endblock %}

{% block body %}
    <h1>Create new ActeurAdresse</h1>

    {{ include('repertoire/acteur/acteur_adresse/_form.html.twig') }}

    <a href="{{ path('app_repertoire_acteur_acteur_adresse_index') }}">back to list</a>
{% endblock %}
