{% extends 'base.html.twig' %}

{% block title %}ActeurAdresse{% endblock %}

{% block body %}
    <h1>ActeurAdresse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acteur_adresse.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ acteur_adresse.libelle }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ acteur_adresse.adresse }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ acteur_adresse.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ acteur_adresse.ville }}</td>
            </tr>
            <tr>
                <th>Complement</th>
                <td>{{ acteur_adresse.complement }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ acteur_adresse.createdAt ? acteur_adresse.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ acteur_adresse.updatedAt ? acteur_adresse.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_acteur_adresse_index') }}">back to list</a>

    <a href="{{ path('app_repertoire_acteur_acteur_adresse_edit', {'id': acteur_adresse.id}) }}">edit</a>

    {{ include('repertoire/acteur/acteur_adresse/_delete_form.html.twig') }}
{% endblock %}
