{% extends 'base.html.twig' %}

{% block title %}Edit ActeurProjet{% endblock %}

{% block body %}
    <h1>Edit ActeurProjet</h1>

    {{ include('repertoire/acteur/acteur_projet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_repertoire_acteur_acteur_projet_index') }}">back to list</a>

    {{ include('repertoire/acteur/acteur_projet/_delete_form.html.twig') }}
{% endblock %}
