{% extends 'base.html.twig' %}

{% block title %}ActeurProjet index{% endblock %}

{% block body %}
    <h1>ActeurProjet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acteur_projet in acteur_projets %}
            <tr>
                <td>{{ acteur_projet.id }}</td>
                <td>{{ acteur_projet.content }}</td>
                <td>
                    <a href="{{ path('app_repertoire_acteur_acteur_projet_show', {'id': acteur_projet.id}) }}">show</a>
                    <a href="{{ path('app_repertoire_acteur_acteur_projet_edit', {'id': acteur_projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_acteur_projet_new') }}">Create new</a>
{% endblock %}
