{% extends 'base.html.twig' %}

{% block title %}New ActeurProjet{% endblock %}

{% block body %}
    <h1>Create new ActeurProjet</h1>

    {{ include('repertoire/acteur/acteur_projet/_form.html.twig') }}

    <a href="{{ path('app_repertoire_acteur_acteur_projet_index') }}">back to list</a>
{% endblock %}
