{% extends 'base.html.twig' %}

{% block title %}ActeurProjet{% endblock %}

{% block body %}
    <h1>ActeurProjet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acteur_projet.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ acteur_projet.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_acteur_projet_index') }}">back to list</a>

    <a href="{{ path('app_repertoire_acteur_acteur_projet_edit', {'id': acteur_projet.id}) }}">edit</a>

    {{ include('repertoire/acteur/acteur_projet/_delete_form.html.twig') }}
{% endblock %}
