{% extends 'base.html.twig' %}

{% block title %}Departements index{% endblock %}

{% block body %}
    <h1>Departements index</h1>

    <table class="table table-hover">
        <thead>
            <tr>

                <th>Num</th>
                <th>Département</th>
                <th>Region</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departement in departements %}
            <tr>

                <td>{{ departement.number }}</td>
                <td>{{ departement.name }}</td>
                <td>{{ departement.regions }}</td>
                <td>
                    <a href="{{ path('app_departements_show', {'id': departement.id}) }}">show</a>
                    <a href="{{ path('app_departements_edit', {'id': departement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_departements_new') }}">Create new</a>
{% endblock %}
