{% extends 'base.html.twig' %}

{% block title %}Departements{% endblock %}

{% block body %}
    <h1>Departements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ departement.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ departement.number }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ departement.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_departements_index') }}">back to list</a>

    <a href="{{ path('app_departements_edit', {'id': departement.id}) }}">edit</a>

    {{ include('departements/_delete_form.html.twig') }}
{% endblock %}
