{% extends 'base.html.twig' %}

{% block title %}New Annonces{% endblock %}

{% block body %}

    <h1>Create new Annonces</h1>

    {{ include('annonces/_form.html.twig') }}

    <a href="{{ path('app_annonces_index') }}">back to list</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = () => {
            let region = document.querySelector('#annonces_regions');

            region.addEventListener("change", function () {
                let form = this.closest("form");
                let data = this.name + "=" + this.value;
                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
                    }
                })
                    .then(response => response.text())
                    .then(html => {
                        let content = document.createElement("html");
                        content.innerHTML = html;
                        let nouveauSelect = content.querySelector("#annonces_departements");
                        document.querySelector("#annonces_departements").replaceWith(nouveauSelect);

                        document.querySelector("#annonces_departements").addEventListener("change", function () {
                        let form = this.closest("form");
                        let data = this.name + "=" + this.value;
                        fetch(form.action, {
                            method: form.getAttribute("method"),
                            body: data,
                            headers: {
                                "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
                            }
                        })
                        .then(response => response.text())
                        .then(html => {
                            let contentville = document.createElement("html");
                            contentville.innerHTML = html;
                            let nouveauSelectVille = contentville.querySelector("#annonces_ville");
                            document.querySelector("#annonces_ville").replaceWith(nouveauSelectVille);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                    });
                })
                .catch(error => {
                    console.log(error);
                });
            });
        };

    </script>
{% endblock %}