<form method="post" action="{{ path('app_villes_france_delete', {'id': villes_france.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ villes_france.id) }}">
    <button class="btn">Delete</button>
</form>
