{% extends 'base.html.twig' %}

{% block title %}Edit VillesFrance{% endblock %}

{% block body %}
    <h1>Edit VillesFrance</h1>

    {{ include('villes_france/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_villes_france_index') }}">back to list</a>

    {{ include('villes_france/_delete_form.html.twig') }}
{% endblock %}
