{% extends 'base.html.twig' %}

{% block title %}VillesFrance index{% endblock %}

{% block body %}
    <h1>VillesFrance index</h1>
    {{ knp_pagination_render(villes_frances) }}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ville_nom_reel</th>
                <th>Ville_code_postal</th>
                <th>Département</th>
                <th>Regions</th>
               <th></th>
            </tr>
        </thead>
        <tbody>
        {% for villes_france in villes_frances %}
            <tr>
                <td>{{ villes_france.id }}</td>
                <td>{{ villes_france.villeNomReel }}</td>
                <td>{{ villes_france.villeCodePostal }}</td>
                <td>{{ villes_france.departement.name }}</td>
                <td>{{ villes_france.departement.regions.name }}</td>
                <td>
                    <a href="{{ path('app_villes_france_show', {'id': villes_france.id}) }}">show</a>
                    <a href="{{ path('app_villes_france_edit', {'id': villes_france.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="34">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(villes_frances) }}
{% endblock %}
