{% extends 'base.html.twig' %}

{% block title %}New VillesFrance{% endblock %}

{% block body %}
    <h1>Create new VillesFrance</h1>

    {{ include('villes_france/_form.html.twig') }}

    <a href="{{ path('app_villes_france_index') }}">back to list</a>
{% endblock %}
