{% extends 'base.html.twig' %}

{% block title %}VillesFrance{% endblock %}

{% block body %}
    <h1>VillesFrance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ villes_france.id }}</td>
            </tr>
            <tr>
                <th>Ville_departement</th>
                <td>{{ villes_france.villeDepartement }}</td>
            </tr>
            <tr>
                <th>Ville_slug</th>
                <td>{{ villes_france.villeSlug }}</td>
            </tr>
            <tr>
                <th>Ville_nom</th>
                <td>{{ villes_france.villeNom }}</td>
            </tr>
            <tr>
                <th>Ville_nom_simple</th>
                <td>{{ villes_france.villeNomSimple }}</td>
            </tr>
            <tr>
                <th>Ville_nom_reel</th>
                <td>{{ villes_france.villeNomReel }}</td>
            </tr>
            <tr>
                <th>Ville_nom_soundex</th>
                <td>{{ villes_france.villeNomSoundex }}</td>
            </tr>
            <tr>
                <th>Ville_nom_metaphone</th>
                <td>{{ villes_france.villeNomMetaphone }}</td>
            </tr>
            <tr>
                <th>Ville_code_postal</th>
                <td>{{ villes_france.villeCodePostal }}</td>
            </tr>
            <tr>
                <th>Ville_commune</th>
                <td>{{ villes_france.villeCommune }}</td>
            </tr>
            <tr>
                <th>Ville_code_commune</th>
                <td>{{ villes_france.villeCodeCommune }}</td>
            </tr>
            <tr>
                <th>Ville_arrondissement</th>
                <td>{{ villes_france.villeArrondissement }}</td>
            </tr>
            <tr>
                <th>Ville_canton</th>
                <td>{{ villes_france.villeCanton }}</td>
            </tr>
            <tr>
                <th>Ville_amdi</th>
                <td>{{ villes_france.villeAmdi }}</td>
            </tr>
            <tr>
                <th>Ville_population_2010</th>
                <td>{{ villes_france.villePopulation2010 }}</td>
            </tr>
            <tr>
                <th>Ville_population_1999</th>
                <td>{{ villes_france.villePopulation1999 }}</td>
            </tr>
            <tr>
                <th>Ville_population_2012</th>
                <td>{{ villes_france.villePopulation2012 }}</td>
            </tr>
            <tr>
                <th>Ville_densite_2010</th>
                <td>{{ villes_france.villeDensite2010 }}</td>
            </tr>
            <tr>
                <th>Ville_surface</th>
                <td>{{ villes_france.villeSurface }}</td>
            </tr>
            <tr>
                <th>Ville_longitude_deg</th>
                <td>{{ villes_france.villeLongitudeDeg }}</td>
            </tr>
            <tr>
                <th>Ville_latitude_deg</th>
                <td>{{ villes_france.villeLatitudeDeg }}</td>
            </tr>
            <tr>
                <th>Ville_longitude_grd</th>
                <td>{{ villes_france.villeLongitudeGrd }}</td>
            </tr>
            <tr>
                <th>Ville_latitude_grd</th>
                <td>{{ villes_france.villeLatitudeGrd }}</td>
            </tr>
            <tr>
                <th>Ville_longitude_dms</th>
                <td>{{ villes_france.villeLongitudeDms }}</td>
            </tr>
            <tr>
                <th>Ville_latitude_dms</th>
                <td>{{ villes_france.villeLatitudeDms }}</td>
            </tr>
            <tr>
                <th>Ville_zmin</th>
                <td>{{ villes_france.villeZmin }}</td>
            </tr>
            <tr>
                <th>Ville_zmax</th>
                <td>{{ villes_france.villeZmax }}</td>
            </tr>
            <tr>
                <th>Ville_population_2010_order_france</th>
                <td>{{ villes_france.villePopulation2010OrderFrance }}</td>
            </tr>
            <tr>
                <th>Ville_densite_2010_order_france</th>
                <td>{{ villes_france.villeDensite2010OrderFrance }}</td>
            </tr>
            <tr>
                <th>Ville_surface_order_france</th>
                <td>{{ villes_france.villeSurfaceOrderFrance }}</td>
            </tr>
            <tr>
                <th>Ville_population_2010_order_dpt</th>
                <td>{{ villes_france.villePopulation2010OrderDpt }}</td>
            </tr>
            <tr>
                <th>Ville_densite_2010_order_dpt</th>
                <td>{{ villes_france.villeDensite2010OrderDpt }}</td>
            </tr>
            <tr>
                <th>Ville_surface_order_dpt</th>
                <td>{{ villes_france.villeSurfaceOrderDpt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_villes_france_index') }}">back to list</a>

    <a href="{{ path('app_villes_france_edit', {'id': villes_france.id}) }}">edit</a>

    {{ include('villes_france/_delete_form.html.twig') }}
{% endblock %}
