{% extends 'base.html.twig' %}

{% block title %}Edit SimulationFinancement{% endblock %}

{% block body %}
    <h1>Edit SimulationFinancement</h1>

    {{ include('exercice_cp/simulation_financement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_exercice_cp_simulation_financement_index') }}">back to list</a>

    {{ include('exercice_cp/simulation_financement/_delete_form.html.twig') }}
{% endblock %}
