{% extends 'base.html.twig' %}

{% block title %}SimulationFinancement index{% endblock %}

{% block body %}
    <h1>SimulationFinancement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for simulation_financement in simulation_financements %}
            <tr>
                <td>{{ simulation_financement.id }}</td>
                <td>{{ simulation_financement.libelle }}</td>
                <td>
                    <a href="{{ path('app_exercice_cp_simulation_financement_show', {'id': simulation_financement.id}) }}">show</a>
                    <a href="{{ path('app_exercice_cp_simulation_financement_edit', {'id': simulation_financement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_simulation_financement_new') }}">Create new</a>
{% endblock %}
