{% extends 'base.html.twig' %}

{% block title %}New SimulationFinancement{% endblock %}

{% block body %}
    <h1>Create new SimulationFinancement</h1>

    {{ include('exercice_cp/simulation_financement/_form.html.twig') }}

    <a href="{{ path('app_exercice_cp_simulation_financement_index') }}">back to list</a>
{% endblock %}
