{% extends 'base.html.twig' %}

{% block title %}SimulationFinancement{% endblock %}

{% block body %}
    <h1>SimulationFinancement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ simulation_financement.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ simulation_financement.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_simulation_financement_index') }}">back to list</a>

    <a href="{{ path('app_exercice_cp_simulation_financement_edit', {'id': simulation_financement.id}) }}">edit</a>

    {{ include('exercice_cp/simulation_financement/_delete_form.html.twig') }}
{% endblock %}
