{% extends 'base.html.twig' %}

{% block title %}Regions index{% endblock %}

{% block body %}
    <h1>Regions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Région</th>
                <th>Départements</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td>{{ region.name }}</td>
                <td>
                    {% for departement in region.departements %}
                        <span class="badge bg-primary">{{ departement.number }}</span>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_regions_show', {'id': region.id}) }}">show</a>
                    <a href="{{ path('app_regions_edit', {'id': region.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_regions_new') }}">Create new</a>
{% endblock %}
