{% extends 'base.html.twig' %}

{% block title %}Regions{% endblock %}

{% block body %}
    <h1>Regions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ region.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ region.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_regions_index') }}">back to list</a>

    <a href="{{ path('app_regions_edit', {'id': region.id}) }}">edit</a>

    {{ include('regions/_delete_form.html.twig') }}
{% endblock %}
