<form method="post" action="{{ path('app_exercice_cp_user_col_genre_delete', {'id': col_genre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ col_genre.id) }}">
    <button class="btn">Delete</button>
</form>
