{% extends 'base.html.twig' %}

{% block title %}Edit ColGenre{% endblock %}

{% block body %}
    <h1>Edit ColGenre</h1>

    {{ include('exercice_cp/user/col_genre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_exercice_cp_user_col_genre_index') }}">back to list</a>

    {{ include('exercice_cp/user/col_genre/_delete_form.html.twig') }}
{% endblock %}
