{% extends 'base.html.twig' %}

{% block title %}ColGenre index{% endblock %}

{% block body %}
    <h1>ColGenre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for col_genre in col_genres %}
            <tr>
                <td>{{ col_genre.id }}</td>
                <td>{{ col_genre.libelle }}</td>
                <td>
                    <a href="{{ path('app_exercice_cp_user_col_genre_show', {'id': col_genre.id}) }}">show</a>
                    <a href="{{ path('app_exercice_cp_user_col_genre_edit', {'id': col_genre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_user_col_genre_new') }}">Create new</a>
{% endblock %}
