{% extends 'base.html.twig' %}

{% block title %}New ColGenre{% endblock %}

{% block body %}
    <h1>Create new ColGenre</h1>

    {{ include('exercice_cp/user/col_genre/_form.html.twig') }}


{% endblock %}
