{% extends 'base.html.twig' %}

{% block title %}ColGenre{% endblock %}

{% block body %}
    <h1>ColGenre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ col_genre.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ col_genre.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_user_col_genre_index') }}">back to list</a>

    <a href="{{ path('app_exercice_cp_user_col_genre_edit', {'id': col_genre.id}) }}">edit</a>

    {{ include('exercice_cp/user/col_genre/_delete_form.html.twig') }}
{% endblock %}
