{% extends 'base.html.twig' %}

{% block title %}New ColGenre{% endblock %}

{% block body %}
    <h1>Create new ColGenre</h1>

    {{ include('exercice_cp/user/col_genre/_form.html.twig') }}


{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        // Récupération de l'élément du champ de sélection du genre
        const genreSelect = document.getElementById('user_form_genre');

        // Récupération de l'élément du champ de sélection de la fonction
        const fonctionSelect = document.getElementById('user_form_fonction');

        // Écouteur d'événement sur le champ de sélection du genre
        genreSelect.addEventListener('change', function () {
            // Récupération de la valeur sélectionnée du genre
            const selectedGenre = genreSelect.value;

            // Requête AJAX pour obtenir les fonctions en fonction du genre sélectionné
            const xhr = new XMLHttpRequest();

            xhr.open('GET', '{{ path('action_ajax') }}?genre=' + selectedGenre);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    // Réponse de la requête AJAX
                    const fonctions = JSON.parse(xhr.responseText);

                    // Effacement des options actuelles du champ de sélection de la fonction
                    fonctionSelect.innerHTML = '';

                    // Ajout des nouvelles options en fonction des fonctions obtenues
                    fonctions.forEach(function (fonction) {
                        const option = document.createElement('option');
                        option.value = fonction.id;
                        option.textContent = fonction.libelle;
                        fonctionSelect.appendChild(option);
                    });
                }
            };
            xhr.send();
        });

    </script>
{% endblock %}