{% extends 'base.html.twig' %}

{% block title %}Edit ActeurContact{% endblock %}

{% block body %}
    <h1>Edit ActeurContact</h1>

    {{ include('repertoire/acteur/acteur_contact/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_repertoire_acteur_acteur_contact_index') }}">back to list</a>

    {{ include('repertoire/acteur/acteur_contact/_delete_form.html.twig') }}
{% endblock %}
