{% extends 'base.html.twig' %}

{% block title %}ActeurContact index{% endblock %}

{% block body %}
    <h1>ActeurContact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acteur_contact in acteur_contacts %}
            <tr>
                <td>{{ acteur_contact.id }}</td>
                <td>{{ acteur_contact.content }}</td>
                <td>{{ acteur_contact.libelle }}</td>
                <td>
                    <a href="{{ path('app_repertoire_acteur_acteur_contact_show', {'id': acteur_contact.id}) }}">show</a>
                    <a href="{{ path('app_repertoire_acteur_acteur_contact_edit', {'id': acteur_contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_acteur_contact_new') }}">Create new</a>
{% endblock %}
