{% extends 'base.html.twig' %}

{% block title %}New ActeurContact{% endblock %}

{% block body %}
    <h1>Create new ActeurContact</h1>

    {{ include('repertoire/acteur/acteur_contact/_form.html.twig') }}

    <a href="{{ path('app_repertoire_acteur_acteur_contact_index') }}">back to list</a>
{% endblock %}
