{% extends 'base.html.twig' %}

{% block title %}ActeurContact{% endblock %}

{% block body %}
    <h1>ActeurContact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acteur_contact.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ acteur_contact.content }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ acteur_contact.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_acteur_contact_index') }}">back to list</a>

    <a href="{{ path('app_repertoire_acteur_acteur_contact_edit', {'id': acteur_contact.id}) }}">edit</a>

    {{ include('repertoire/acteur/acteur_contact/_delete_form.html.twig') }}
{% endblock %}
