{% extends 'base.html.twig' %}

{% block title %}New Type{% endblock %}

{% block body %}
    <h1>Create new Type</h1>

    {{ include('repertoire/acteur/lib/type/_form.html.twig') }}

    <a href="{{ path('app_repertoire_acteur_lib_type_index') }}">back to list</a>
{% endblock %}
