{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <h1>Type</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ type.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_lib_type_index') }}">back to list</a>

    <a href="{{ path('app_repertoire_acteur_lib_type_edit', {'id': type.id}) }}">edit</a>

    {{ include('repertoire/acteur/lib/type/_delete_form.html.twig') }}
{% endblock %}
