<form method="post" action="{{ path('app_repertoire_acteur_acteur_identification_delete', {'id': acteur_identification.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ acteur_identification.id) }}">
    <button class="btn">Delete</button>
</form>
