{% extends 'base.html.twig' %}

{% block title %}Edit ActeurIdentification{% endblock %}

{% block body %}
    <h1>Edit ActeurIdentification</h1>

    {{ include('repertoire/acteur/acteur_identification/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_repertoire_acteur_acteur_identification_index') }}">back to list</a>

    {{ include('repertoire/acteur/acteur_identification/_delete_form.html.twig') }}
{% endblock %}
