{% extends 'base.html.twig' %}

{% block title %}ActeurIdentification index{% endblock %}

{% block body %}
    <h1>ActeurIdentification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acteur_identification in acteur_identifications %}
            <tr>
                <td>{{ acteur_identification.id }}</td>
                <td>{{ acteur_identification.content }}</td>
                <td>
                    <a href="{{ path('app_repertoire_acteur_acteur_identification_show', {'id': acteur_identification.id}) }}">show</a>
                    <a href="{{ path('app_repertoire_acteur_acteur_identification_edit', {'id': acteur_identification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_acteur_identification_new') }}">Create new</a>
{% endblock %}
