{% extends 'base.html.twig' %}

{% block title %}New ActeurIdentification{% endblock %}

{% block body %}
    <h1>Create new ActeurIdentification</h1>

    {{ include('repertoire/acteur/acteur_identification/_form.html.twig') }}

    <a href="{{ path('app_repertoire_acteur_acteur_identification_index') }}">back to list</a>
{% endblock %}
