{% extends 'base.html.twig' %}

{% block title %}ActeurIdentification{% endblock %}

{% block body %}
    <h1>ActeurIdentification</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acteur_identification.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ acteur_identification.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_acteur_identification_index') }}">back to list</a>

    <a href="{{ path('app_repertoire_acteur_acteur_identification_edit', {'id': acteur_identification.id}) }}">edit</a>

    {{ include('repertoire/acteur/acteur_identification/_delete_form.html.twig') }}
{% endblock %}
