{% extends 'base.html.twig' %}

{% block title %}Hello FormExerciceController!{% endblock %}
{% use 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <h5>Upload des fichier images en format Webp et créer une miniature aux taille $variable</h5>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
