{% extends 'base.html.twig' %}

{% block title %}Hello FormExerciceController!{% endblock %}
{% use 'bootstrap_5_layout.html.twig' %}
{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.title) }}

    <div id="contact-fields-container">
        {% for contactField in form.contacts %}
            <div class="contact-field-wrapper">
                {{ form_row(contactField) }}
                <button class="remove-contact-btn btn btn-danger">Supprimer</button>
            </div>
        {% endfor %}
    </div>
    <button id="add-contact-btn" class="btn btn-primary">Ajouter un champ de contact</button>

    {{ form_end(form) }}

{% endblock %}
  {% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var contactFieldsContainer = document.getElementById('contact-fields-container');
        var addContactBtn = document.getElementById('add-contact-btn');

        function addContactField() {
            var contactField = document.createElement('input');
            contactField.type = 'text';
            contactField.name = 'contacts[]';
            contactField.classList.add('form-control');

            var removeContactBtn = document.createElement('button');
            removeContactBtn.innerText = 'Supprimer';
            removeContactBtn.classList.add('remove-contact-btn', 'btn', 'btn-danger');

            var contactFieldWrapper = document.createElement('div');
            contactFieldWrapper.classList.add('contact-field-wrapper');
            contactFieldWrapper.appendChild(contactField);
            contactFieldWrapper.appendChild(removeContactBtn);

            contactFieldsContainer.appendChild(contactFieldWrapper);
        }

        addContactBtn.addEventListener('click', function(e) {
            e.preventDefault();
            addContactField();
        });

        contactFieldsContainer.addEventListener('click', function(e) {
            if (e.target.classList.contains('remove-contact-btn')) {
                e.preventDefault();
                var contactFieldWrapper = e.target.closest('.contact-field-wrapper');
                contactFieldWrapper.remove();
            }
        });
    });

</script>
  {% endblock %}