<form method="post" action="{{ path('app_exercice_cp_utilisateur_fonction_delete', {'id': fonction.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fonction.id) }}">
    <button class="btn">Delete</button>
</form>
