{% extends 'base.html.twig' %}

{% block title %}New Fonction{% endblock %}

{% block body %}
    <h1>Create new Fonction</h1>

    {{ include('exercice_cp/utilisateur/fonction/_form.html.twig') }}

    <a href="{{ path('app_exercice_cp_utilisateur_fonction_index') }}">back to list</a>
{% endblock %}
