{% extends 'base.html.twig' %}

{% block title %}Fonction{% endblock %}

{% block body %}
    <h1>Fonction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fonction.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_utilisateur_fonction_index') }}">back to list</a>

    <a href="{{ path('app_exercice_cp_utilisateur_fonction_edit', {'id': fonction.id}) }}">edit</a>

    {{ include('exercice_cp/utilisateur/fonction/_delete_form.html.twig') }}
{% endblock %}
