{% extends 'base.html.twig' %}

{% block title %}Hello FinancementController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-3">

                <div class="list-group">
                    {% if simulations %}
                        {% for simulation in simulations %}
                            <a href="{{ path('app_exercice_cp_financement_simulation', { 'simulation':simulation.id}) }}" class="list-group-item list-group-item-action">{{ simulation.type~ ' '~simulation.objet }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-9">
                {{ form_start(form) }}
                {{ form_widget(form.simulation) }}
                <div class="action_durees">
                    <div class="row mb-3">
                        <div class="col-6">
                            <button type="button" class="btn btn-sm btn-primary" id="add_durees">Ajouter Durée</button>
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                </div>
                <div id="durees" class="row" data-prototype="{{ form_widget(form.durees.vars.prototype)|e }}" data-prototype-index="{{ form.durees|length }}">
                    <!-- Champs pour la collection Durées -->
                    {% for duree in form.durees %}
                        <div class="col-2">
                            {{ form_widget(duree) }}
                            <button type="button" class="btn btn-danger remove-button" data-collection="durees">Supprimer</button>
                        </div>
                    {% endfor %}
                </div>
                <hr/>
                <div class="action_montant">
                    <div class="row mb-3">
                        <div class="col-6">
                            <button type="button" class="btn btn-sm btn-primary" id="add_montant">Ajouter Montant</button>
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                </div>
                <div id="montant" class="row" data-prototype="{{ form_widget(form.montant.vars.prototype)|e }}" data-prototype-index="{{ form.montant|length }}">
                    <!-- Champs pour la collection montant -->
                    {% for montant in form.montant %}
                        <div class="col-2">
                            {{ form_widget(montant) }}
                            <button type="button" class="btn btn-danger remove-button" data-collection="montant">Supprimer</button>
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <button type="button" class="btn btn-sm btn-primary  mb-3" id="add_financement">Ajouter Financement</button>
                <div id="financements" data-prototype="{{ form_widget(form.financements.vars.prototype)|e }}" data-prototype-index="{{ form.financements|length }}">
                    <!-- Champs pour la collection Financements -->
                    {% for financement in form.financements %}

                        <div class="collection-row">
                            <button type="button" class="btn btn-danger remove-button" data-collection="financements">Supprimer</button>
                            {{ form_widget(financement) }}
                        </div>
                    {% endfor %}
                </div>

                {{ form_widget(form) }}
                {% if new %}
                 <a href="{{ path('app_exercice_cp_financement_offre', { 'simulationOffre': new}) }}">Nouvelle simulation</a>
                {% endif %}
                <a href="">Synthèze</a>
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Récupération des éléments du DOM
            var addButtonDurees = document.getElementById('add_durees');
            var addButtonmontant = document.getElementById('add_montant');
            var addButtonFinancements = document.getElementById('add_financement');
            var dureesCollection = document.getElementById('durees');
            var montantCollection = document.getElementById('montant');
            var financementsCollection = document.getElementById('financements');

            var prototypeIndexDurees = parseInt(dureesCollection.dataset.prototypeIndex);
            var prototypeIndexmontant = parseInt(montantCollection.dataset.prototypeIndex);
            var prototypeIndexFinancements = parseInt(financementsCollection.dataset.prototypeIndex);

            var MaxDuree = 4; // Remplacez par votre valeur maximale de durées
            var MaxMontant = 4; // Remplacez par votre valeur maximale de montant

            // // Ajout d'une collection "Durées" et "montant" par défaut
            // var template = dureesCollection.dataset.prototype.replace(/__name__/g, prototypeIndexDurees);
            // var row = document.createElement('div');
            // row.classList.add('col-2');
            // row.innerHTML = template;
            // dureesCollection.appendChild(row);
            // prototypeIndexDurees++;
            //
            // var templateM = montantCollection.dataset.prototype.replace(/__name__/g, prototypeIndexmontant);
            // var rowM = document.createElement('div');
            // rowM.classList.add('col-2');
            // rowM.innerHTML = templateM;
            // montantCollection.appendChild(rowM);
            // prototypeIndexmontant++;

            // Écouteur de clic pour le bouton "Ajouter Durées"
            addButtonDurees.addEventListener('click', function(e) {
                if (dureesCollection.childElementCount < MaxDuree) {
                    var template = dureesCollection.dataset.prototype.replace(/__name__/g, prototypeIndexDurees);
                    var row = document.createElement('div');
                    row.classList.add('col-2');
                    row.innerHTML = template + '<button type="button" class="btn btn-danger remove-button">Supprimer</button>';
                    dureesCollection.appendChild(row);
                    prototypeIndexDurees++;

                    // Ajout d'un écouteur de clic au bouton de suppression nouvellement ajouté
                    var removeButton = row.querySelector('.remove-button');
                    removeButton.addEventListener('click', function() {
                        dureesCollection.removeChild(row);
                        prototypeIndexDurees--;
                    });
                }
            });

            // Écouteur de clic pour le bouton "Ajouter montant"
            addButtonmontant.addEventListener('click', function(e) {
                if (montantCollection.childElementCount < MaxMontant) {
                    var template = montantCollection.dataset.prototype.replace(/__name__/g, prototypeIndexmontant);
                    var row = document.createElement('div');
                    row.classList.add('col-2');
                    row.innerHTML = template + '<button type="button" class="btn btn-danger remove-button">Supprimer</button>';
                    montantCollection.appendChild(row);
                    prototypeIndexmontant++;

                    // Ajout d'un écouteur de clic au bouton de suppression nouvellement ajouté
                    var removeButton = row.querySelector('.remove-button');
                    removeButton.addEventListener('click', function() {
                        montantCollection.removeChild(row);
                        prototypeIndexmontant--;
                    });
                }
            });

            // Écouteur de clic pour le bouton "Ajouter Financements"
            addButtonFinancements.addEventListener('click', function(e) {
                var template = financementsCollection.dataset.prototype.replace(/__name__/g, prototypeIndexFinancements);
                var row = document.createElement('div');
                row.classList.add('collection-row');
                row.innerHTML = template + '<button type="button" class="btn btn-danger remove-button">Supprimer</button>';
                financementsCollection.appendChild(row);
                prototypeIndexFinancements++;

                // Ajout d'un écouteur de clic au bouton de suppression nouvellement ajouté
                var removeButton = row.querySelector('.remove-button');
                removeButton.addEventListener('click', function() {
                    financementsCollection.removeChild(row);
                    prototypeIndexFinancements--;
                });
            });

            dureesCollection.addEventListener('click', function(e) {
                if (e.target.classList.contains('remove-button')) {
                    var collectionName = e.target.dataset.collection;
                    var collection = document.getElementById(collectionName);
                    var row = e.target.parentNode;
                    collection.removeChild(row);
                    prototypeIndexDurees--;
                }
            });

            montantCollection.addEventListener('click', function(e) {
                if (e.target.classList.contains('remove-button')) {
                    var montantCollection = e.target.dataset.collection;
                    var collection = document.getElementById(montantCollection);
                    var row = e.target.parentNode;
                    collection.removeChild(row);
                    prototypeIndexmontant--;
                }
            });

            financementsCollection.addEventListener('click', function(e) {
                if (e.target.classList.contains('remove-button')) {
                    var collectionName = e.target.dataset.collection;
                    var row = e.target.closest('.collection-row');
                    if (row) {
                        row.parentNode.removeChild(row);
                        prototypeIndexFinancements--;
                    }
                }
            });

        });
    </script>
{% endblock %}
