{% extends 'base.html.twig' %}

{% block title %}Edit Identification{% endblock %}

{% block body %}
    <h1>Edit Identification</h1>

    {{ include('repertoire/acteur/lib/identification/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_repertoire_acteur_lib_identification_index') }}">back to list</a>

    {{ include('repertoire/acteur/lib/identification/_delete_form.html.twig') }}
{% endblock %}
