{% extends 'base.html.twig' %}

{% block title %}New Identification{% endblock %}

{% block body %}
    <h1>Create new Identification</h1>

    {{ include('repertoire/acteur/lib/identification/_form.html.twig') }}

    <a href="{{ path('app_repertoire_acteur_lib_identification_index') }}">back to list</a>
{% endblock %}
