{% extends 'base.html.twig' %}

{% block title %}Identification{% endblock %}

{% block body %}
    <h1>Identification</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ identification.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ identification.libelle }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ identification.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_lib_identification_index') }}">back to list</a>

    <a href="{{ path('app_repertoire_acteur_lib_identification_edit', {'id': identification.id}) }}">edit</a>

    {{ include('repertoire/acteur/lib/identification/_delete_form.html.twig') }}
{% endblock %}
