{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h1>Create new Contact</h1>

    {{ include('repertoire/acteur/lib/contact/_form.html.twig') }}

    <a href="{{ path('app_repertoire_acteur_lib_contact_index') }}">back to list</a>
{% endblock %}
