{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ contact.libelle }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ contact.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_lib_contact_index') }}">back to list</a>

    <a href="{{ path('app_repertoire_acteur_lib_contact_edit', {'id': contact.id}) }}">edit</a>

    {{ include('repertoire/acteur/lib/contact/_delete_form.html.twig') }}
{% endblock %}
