{% extends 'base.html.twig' %}

{% block title %}Edit SimulationMontant{% endblock %}

{% block body %}
    <h1>Edit SimulationMontant</h1>

    {{ include('exercice_cp/simulation_montant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_exercice_cp_simulation_montant_index') }}">back to list</a>

    {{ include('exercice_cp/simulation_montant/_delete_form.html.twig') }}
{% endblock %}
