{% extends 'base.html.twig' %}

{% block title %}SimulationMontant index{% endblock %}

{% block body %}
    <h1>SimulationMontant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Frais</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for simulation_montant in simulation_montants %}
            <tr>
                <td>{{ simulation_montant.id }}</td>
                <td>{{ simulation_montant.montant }}</td>
                <td>{{ simulation_montant.frais }}</td>
                <td>
                    <a href="{{ path('app_exercice_cp_simulation_montant_show', {'id': simulation_montant.id}) }}">show</a>
                    <a href="{{ path('app_exercice_cp_simulation_montant_edit', {'id': simulation_montant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_simulation_montant_new') }}">Create new</a>
{% endblock %}
