{% extends 'base.html.twig' %}

{% block title %}New SimulationMontant{% endblock %}

{% block body %}
    <h1>Create new SimulationMontant</h1>

    {{ include('exercice_cp/simulation_montant/_form.html.twig') }}

    <a href="{{ path('app_exercice_cp_simulation_montant_index') }}">back to list</a>
{% endblock %}
