{% extends 'base.html.twig' %}

{% block title %}SimulationMontant{% endblock %}

{% block body %}
    <h1>SimulationMontant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ simulation_montant.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ simulation_montant.montant }}</td>
            </tr>
            <tr>
                <th>Frais</th>
                <td>{{ simulation_montant.frais }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_simulation_montant_index') }}">back to list</a>

    <a href="{{ path('app_exercice_cp_simulation_montant_edit', {'id': simulation_montant.id}) }}">edit</a>

    {{ include('exercice_cp/simulation_montant/_delete_form.html.twig') }}
{% endblock %}
