{% extends 'base.html.twig' %}

{% block title %}Fonctions index{% endblock %}

{% block body %}
    <h1>Fonctions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fonction in fonctions %}
            <tr>
                <td>{{ fonction.id }}</td>
                <td>{{ fonction.libelle }}</td>
                <td>{{ fonction.type }}</td>
                <td>
                    <a href="{{ path('app_repertoire_acteur_lib_fonctions_show', {'id': fonction.id}) }}">show</a>
                    <a href="{{ path('app_repertoire_acteur_lib_fonctions_edit', {'id': fonction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_lib_fonctions_new') }}">Create new</a>
{% endblock %}
