{% extends 'base.html.twig' %}

{% block title %}New Fonctions{% endblock %}

{% block body %}
    <h1>Create new Fonctions</h1>

    {{ include('repertoire/acteur/lib/fonctions/_form.html.twig') }}

    <a href="{{ path('app_repertoire_acteur_lib_fonctions_index') }}">back to list</a>
{% endblock %}
