{% extends 'base.html.twig' %}

{% block title %}Fonctions{% endblock %}

{% block body %}
    <h1>Fonctions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fonction.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ fonction.libelle }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ fonction.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_lib_fonctions_index') }}">back to list</a>

    <a href="{{ path('app_repertoire_acteur_lib_fonctions_edit', {'id': fonction.id}) }}">edit</a>

    {{ include('repertoire/acteur/lib/fonctions/_delete_form.html.twig') }}
{% endblock %}
