<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <style>
                .hide {
                    display: none;
                }
            </style>
        {% endblock %}
    </head>
    <body >
        {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                   Exercice Genre dynamique
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ path('app_exercice_cp_user_col_genre_test')}}">Genre H/F</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ path('app_exercice_cp_user_col_fonction_new') }}">Ajouter une fonction</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Exercice Divers
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ path('app_form_exercice1')}}">Exercice 1</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_form_exercice2')}}">Exercice 2</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_annonces_new') }}">Exercice 3</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('app_exercice_cp_collectivite_index') }}">Exercice CP</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Répertoire Mathilde
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ path("app_repertoire_acteur_lib_categorie_index")}}">Categorie</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_repertoire_acteur_lib_contact_index') }}">Contact</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_repertoire_acteur_lib_fonctions_index') }}">Fonction</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_repertoire_acteur_lib_identification_index') }}">Identification</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_repertoire_acteur_lib_type_new') }}">Type</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ path('app_repertoire_acteur_acteur_index') }}">Liste des acteurs locaux</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_repertoire_acteur_add') }}">Ajouter un acteur locaux</a></li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        {% endblock %}
        <div class="p-5">
            {% block body %}{% endblock %}
            {% include "_toasts.html.twig" %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <!-- include summernote css/js -->
            <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var toastElList = [].slice.call(document.querySelectorAll('.toast'));
                    var toastList = toastElList.map(function (toastEl) {
                        var toast = new bootstrap.Toast(toastEl);
                        toast.show();
                        setTimeout(function () {
                            toastEl.classList.add('hide');
                        }, 5000); // Ajoute la classe 'hide' après 5 secondes (5000 millisecondes)
                        return toast;
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
