{% extends 'base.html.twig' %}

{% block title %}Edit ActeurMembre{% endblock %}

{% block body %}
    <h1>Edit ActeurMembre</h1>

    {{ include('repertoire/acteur/acteur_membre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_repertoire_acteur_acteur_membre_index') }}">back to list</a>

    {{ include('repertoire/acteur/acteur_membre/_delete_form.html.twig') }}
{% endblock %}
