{% extends 'base.html.twig' %}

{% block title %}ActeurMembre index{% endblock %}

{% block body %}
    <h1>ActeurMembre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Genre</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Portable</th>
                <th>Mail</th>
                <th>Ordre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acteur_membre in acteur_membres %}
            <tr>
                <td>{{ acteur_membre.id }}</td>
                <td>{{ acteur_membre.genre }}</td>
                <td>{{ acteur_membre.nom }}</td>
                <td>{{ acteur_membre.prenom }}</td>
                <td>{{ acteur_membre.telephone }}</td>
                <td>{{ acteur_membre.portable }}</td>
                <td>{{ acteur_membre.mail }}</td>
                <td>{{ acteur_membre.ordre }}</td>
                <td>
                    <a href="{{ path('app_repertoire_acteur_acteur_membre_show', {'id': acteur_membre.id}) }}">show</a>
                    <a href="{{ path('app_repertoire_acteur_acteur_membre_edit', {'id': acteur_membre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_acteur_membre_new') }}">Create new</a>
{% endblock %}
