{% extends 'base.html.twig' %}

{% block title %}New ActeurMembre{% endblock %}

{% block body %}
    <h1>Create new ActeurMembre</h1>

    {{ include('repertoire/acteur/acteur_membre/_form.html.twig') }}

    <a href="{{ path('app_repertoire_acteur_acteur_membre_index') }}">back to list</a>
{% endblock %}
