{% extends 'base.html.twig' %}

{% block title %}ActeurMembre{% endblock %}

{% block body %}
    <h1>ActeurMembre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acteur_membre.id }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ acteur_membre.genre }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ acteur_membre.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ acteur_membre.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ acteur_membre.telephone }}</td>
            </tr>
            <tr>
                <th>Portable</th>
                <td>{{ acteur_membre.portable }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ acteur_membre.mail }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ acteur_membre.ordre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_acteur_membre_index') }}">back to list</a>

    <a href="{{ path('app_repertoire_acteur_acteur_membre_edit', {'id': acteur_membre.id}) }}">edit</a>

    {{ include('repertoire/acteur/acteur_membre/_delete_form.html.twig') }}
{% endblock %}
