{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Edit Categorie</h1>

    {{ include('repertoire/acteur/lib/categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_repertoire_acteur_lib_categorie_index') }}">back to list</a>

    {{ include('repertoire/acteur/lib/categorie/_delete_form.html.twig') }}
{% endblock %}
