{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('repertoire/acteur/lib/categorie/_form.html.twig') }}

    <a href="{{ path('app_repertoire_acteur_lib_categorie_index') }}">back to list</a>
{% endblock %}
