{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ categorie.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repertoire_acteur_lib_categorie_index') }}">back to list</a>

    <a href="{{ path('app_repertoire_acteur_lib_categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('repertoire/acteur/lib/categorie/_delete_form.html.twig') }}
{% endblock %}
