{% extends 'base.html.twig' %}

{% block title %}Edit Simulation{% endblock %}

{% block body %}
    <h1>Edit Simulation</h1>

    {{ include('exercice_cp/simulation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_exercice_cp_simulation_index') }}">back to list</a>

    {{ include('exercice_cp/simulation/_delete_form.html.twig') }}
{% endblock %}
