{% extends 'base.html.twig' %}

{% block title %}Simulation index{% endblock %}

{% block body %}
    <h1>Simulation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Objet</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for simulation in simulations %}
            <tr>
                <td>{{ simulation.id }}</td>
                <td>{{ simulation.type }}</td>
                <td>{{ simulation.objet }}</td>
                <td>
                    <a href="{{ path('app_exercice_cp_simulation_show', {'id': simulation.id}) }}">show</a>
                    <a href="{{ path('app_exercice_cp_simulation_edit', {'id': simulation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_simulation_new') }}">Create new</a>
{% endblock %}
