{% extends 'base.html.twig' %}

{% block title %}Simulation{% endblock %}

{% block body %}
    <h1>Simulation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ simulation.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ simulation.type }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ simulation.objet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_simulation_index') }}">back to list</a>

    <a href="{{ path('app_exercice_cp_simulation_edit', {'id': simulation.id}) }}">edit</a>

    {{ include('exercice_cp/simulation/_delete_form.html.twig') }}
{% endblock %}
