{% extends 'base.html.twig' %}

{% block title %}Edit ColFonction{% endblock %}

{% block body %}
    <h1>Edit ColFonction</h1>

    {{ include('exercice_cp/user/col_fonction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_exercice_cp_user_col_fonction_index') }}">back to list</a>

    {{ include('exercice_cp/user/col_fonction/_delete_form.html.twig') }}
{% endblock %}
