{% extends 'base.html.twig' %}

{% block title %}ColFonction index{% endblock %}

{% block body %}
    <h1>ColFonction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for col_fonction in col_fonctions %}
            <tr>
                <td>{{ col_fonction.id }}</td>
                <td>{{ col_fonction.libelle }}</td>
                <td>
                    <a href="{{ path('app_exercice_cp_user_col_fonction_show', {'id': col_fonction.id}) }}">show</a>
                    <a href="{{ path('app_exercice_cp_user_col_fonction_edit', {'id': col_fonction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_user_col_fonction_new') }}">Create new</a>
{% endblock %}
