{% extends 'base.html.twig' %}

{% block title %}New ColFonction{% endblock %}

{% block body %}
    <h1>Create new ColFonction</h1>

    {{ include('exercice_cp/user/col_fonction/_form.html.twig') }}

    <a href="{{ path('app_exercice_cp_user_col_fonction_index') }}">back to list</a>
{% endblock %}
