{% extends 'base.html.twig' %}

{% block title %}ColFonction{% endblock %}

{% block body %}
    <h1>ColFonction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ col_fonction.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ col_fonction.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exercice_cp_user_col_fonction_index') }}">back to list</a>

    <a href="{{ path('app_exercice_cp_user_col_fonction_edit', {'id': col_fonction.id}) }}">edit</a>

    {{ include('exercice_cp/user/col_fonction/_delete_form.html.twig') }}
{% endblock %}
